<section>
   <!-- Get body content  -->
   <style>
      .login .logo {
      margin: 0 !important;
      }
      .error{
      color: red;
      padding-bottom: 12px;
      font-size: 15px;
      text-align: center;
      }
      .login .content .form-actions .btn {
    margin-right: -16px !important;
    margin-top: -9px;
}
   </style>
   <!-- BEGIN LOGO -->
   <div class="logo">
      <a href="#">
        <img src="logo.png" alt=""> 
         <!--h2 style="color:#FFFFFF;font-weight:bold">VRVT</h2--> 
      </a>
   </div>
   <!-- END LOGO -->
   <!-- BEGIN SIDEBAR TOGGLER BUTTON -->
   <div class="menu-toggler sidebar-toggler"></div>
   <!-- END SIDEBAR TOGGLER BUTTON -->
   <!-- BEGIN LOGIN -->
   <div class="content">
      <!-- BEGIN LOGIN FORM -->
      <form name="loginForm" class="form-horizontal" role="form">
         <div class="form-group">
            <div class="error"></div>
            
            <div class="input-icon">
               <i class="fa fa-user"></i>
               <input type="text" class="form-control" placeholder="Email" name="email" ng-model="login.email" required focus/>
                
            </div>
         </div>
         <div class="form-group">
            <div class="error"></div>
            
            <div class="input-icon">
               <i class="fa fa-lock"></i>
              <input type="password" class="form-control" placeholder="Password" ng-model="login.password" required/>
             	 
            </div>
         </div>
         
         <div class="form-actions">
            
           <button type="submit" class="width-35 pull-right btn btn-sm btn-primary" ng-click="doLogin(login)" data-ng-disabled="loginForm.$invalid">
                <i class="ace-icon fa fa-key"></i>
                Login
            </button>
         </div>
         <div class="forget-password">
            <h4>Forgot your password ?</h4>
            <p>
               no worries, click <a id="forget-password" href="http://localhost/barberShop/public/forgotPassword">
               here </a>
               to reset your password.
            </p>
         </div>
      </form>
   </div>
</section>
